<div class="wrapper">
    <div class="image-holder">
        <img src="../../../assets/form-wizard.png" alt="">
    </div>
    <form>
        <div class="steps" id="wizard">
            <div class="d-flex nowrap box">
                <div></div>
                <div></div>
                <div class="active"></div>
                <div></div>
                <div></div>
                <div></div>

            </div>

            <h4>Beden Bilgisi</h4>
            <section class="row">

                <div class="col-lg-6">
                    <label for=""> Boy <small>(cm)</small></label>
                    <input type="number" class="form-control">
                </div>
                <div class=" col-lg-6">
                    <label for="">  Kilo <small>(kg)</small></label>
                    <input type="number" class="form-control">
                </div>

                <div class="col-lg-6">
                    <label>
                      Ayakkabı Numarası
                     </label>
                    <input type="number" class="form-control">
                </div>
                <div class="col-lg-6">
                    <label for="">  Pantolon Bedeni </label>
                    <div class="form-holder">
                        <select name="" id="" class="form-control">
                          <option value="">Seçiniz</option>
                          <option value="40-42">34-36</option>
                          <option value="40-42">36-38</option>
                          <option value="40-42">38-40</option>
                          <option value="40-42">40-42</option>
                          <option value="40-42">42-44</option>
                          <option value="44-46">44-46</option>
                          <option value="48-50">46-48</option>
                          <option value="52-54">48-50</option>
                        </select>
                    </div>
                </div>


                <div class="col-lg-6 ">
                    <label for="">  Gömlek Bedeni </label>
                    <div class="form-holder">
                        <select name="" id="" class="form-control">
                          <option value="">Seçiniz</option>
                          <option value="34">34</option>
                          <option value="36">36</option>
                          <option value="38">38</option>
                          <option value="40">40</option>
                          <option value="42">42</option>
                          <option value="44">44</option>
                          <option value="46">46</option>
                          <option value="48">48</option>
                          <option value="50">50</option>
                        </select>

                    </div>
                </div>

            </section>
            <div class="btn-position">
                <button class="buton" routerLink="/saglik">Geri</button>
                <button class="buton" routerLink="/egitim">İleri</button>
            </div>
        </div>

    </form>
</div>
