<div class="wrapper">
    <div class="image-holder">
        <img src="../../../assets/form-wizard.png" alt="">
    </div>
    <form>

        <div class="steps" id="wizard">
            <div class="d-flex nowrap box">
                <div class="active"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>

            </div>
            <h4>Kişisel Bilgiler</h4>
            <section class="row">
                <div class="form-row form-group row">
                    <div class="col-lg-6">
                        <label for="">
                Adı Soyadı
              </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class=" col-lg-6">
                        <label for="">
                T.C. Kimlik No
              </label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for=""> Doğum Tarihi</label>
                    <input type="date" class="form-control">
                </div>
                <div class="col-lg-6">
                    <label for="">  Cinsiyet </label>
                    <div class="form-holder">
                        <select name="" id="" class="form-control">
                <option value="viet nam" class="option">Seçiniz</option>
                <option value="united states" class="option">Erkek</option>
                <option value="united kingdom" class="option">Kadın</option>
              </select>
                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="">
              Medeni Hal
            </label>
                    <div class="form-holder ">
                        <select name="" id="" class="form-control">
                <option value="viet nam" class="option">Seçiniz</option>
                <option value="united states" class="option">Evli </option>
                <option value="united kingdom" class="option">Bekar</option>
              </select>
                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="">
            Askerlik Bilgisi
          </label>
                    <div class="form-holder">
                        <select name="" id="" class="form-control">
              <option value="viet nam" class="option">Seçiniz</option>
              <option value="united states" class="option">Yaptı </option>
              <option value="united kingdom" class="option">Yapmadı</option>
              <option value="united kingdom" class="option">Muaf</option>
            </select>
                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                </div>
            </section>
            <div class="btn-position">

                <button class="buton" routerLink="/saglik">İleri</button>
            </div>
        </div>

    </form>
</div>
